<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap-overrides.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 
    {{{body}}}
      <script src="/javascripts/jquery-3.1.1.min.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/helpers.js"></script>
  </body>
</html>
