 <body class="home_body">  
     <header>
        <a href="http://www.psu.edu"><img src="images/PS_HOR_REV_RGB_2C.png" id="psu_logo"></a> <img src="images/grow_logo.png" id="grow_logo">
            <div class="search_bar">
                <form action="#">
                <input type="search" placeholder="search" />
                </form>
            </div>
        </header>
        <main>
            <nav class="navbar navbar-default home_navbar">
              <div class="container-fluid">
                  <form class="navbar-form navbar-right">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default btn-search">Submit</button>
                  </form>
            </div>
            </nav>
            <div class="container-fluid">
                <div class="headline_div col-md-6 col-md-offset-6 spacer">
                <h1 class="home_headline">
                    Raising a young child is rewarding, but it is not without its challenges.
                </h1> 
                    <p class="headline_para">
                    The Grow! parenting program is designed to help parents of 5 to 8 year olds learn positive parenting techniques, stress management strategies, and health promotion skills that are essential to helping children be happy and healthy. 
                    </p>
                    <div class="login_div col-md-offset-4">
                        <form action="login" method="post">
                            <input type=email name="email" placeholder="email address"/> 
                            <input type=password name="password" placeholder="password"/>
                            <input type="submit" value="Let's Go!">
                        </form>
                              <span class="fa fa-sign-in"> Don't have an account?<a href="/signup"> Signup</a></span>
                    </div>
                </div>  
            </div>
            <div class="post_div">
                    <p>
                    The Grow! parenting program is designed to help parents of 5 to 8 year olds learn positive parenting techniques, stress management strategies, and health promotion skills that are essential to helping children be happy and healthy. 
                    </p>
                </div>
        </main>
        <footer>
            This material is the result of a partnership funded by the Department of Defense between the Office of the Deputy Assistant Secretary of Defense for Military Community and Family Policy and the USDA's National Institute of Food and Agriculture through a grant/cooperative agreement with Penn State University.<br />
            Privacy and Legal Statements | Team Resources
        </footer>
        